<div class="basic-details-tnc-page">
  <div class="container">
    <div class="row">
      <div class="col-md-3 p-0">
        <div class="sidebar-images">
          <img src="assets/images/Oval-orange.svg" alt="" class="orange-oval tnc-orange-oval">
          <img src="assets/images/tnc-img.svg" class="vector-img1" alt="">
          <img src="assets/images/Oval-blue.svg" alt="" class="blue-vector-oval">
        </div>
      </div>
      <div class="col-md-9">
        <div class="basic-details-tnc-data">
          <mat-card class="basic-details-tnc-card">
            <mat-card-content class="basic-details-tnc-card-content">
              <h2 class="privacy-heading">Terms of use of Credit Information from Bureau</h2>
              <p>
                In order to proceed for Digital Personal Loan of Bank of Baroda (referred to as the "Bank") and delivery
                of the Consumer Credit Information from TransUnion CIBIL LIMITED (TUCL) [formerly known as Credit
                Information Bureau (India) Limited] or such other authorized agencies to the Bank, I hereby acknowledge
                and agree to the following:
              </p>
              <ol type="A">
                <li>
                  The Bank is my lawfully appointed agent and he / it has agreed to be my agent for the purposes,
                  including, without limitation, to receive the Consumer Credit Information from TransUnion CIBIL
                  LIMITED (TUCL) or such other authorized agencies on my behalf and use it in the manner consistent with
                  the Agreement entered into between the Bank and TUCL or such other authorized agencies, and the Bank
                  has granted its consent for being appointed for the aforesaid purpose.
                </li>
                <li>
                  I grant my unconditional consent to the Bank to receive the Consumer Credit Information from TUCL or
                  such other authorized agencies on my behalf and use it in the manner consistent with the Agreement
                  entered into between the Bank and TUCL or such other authorized agencies, as the case may be, and the
                  Bank has granted its consent for being appointed for the aforesaid purpose. I hereby represent and
                  acknowledge that the Terms of Understanding in relation to the use of the Consumer Credit Information
                  has been agreed between me and the Bank.
                </li>
                <li>
                  I hereby expressly grant unconditional consent to, and direct, TUCL or such other authorized agencies
                  to deliver and / or transfer my Consumer Credit Information to the Bank on my behalf.
                </li>
                <li>
                  I shall not hold TUCL or such other authorized agencies responsible or liable for any loss, claim,
                  liability, or damage of any kind resulting from, arising out of, or in any way related to: (a)
                  delivery of my Consumer Credit Information to the Bank ; (b) any use, modification or disclosure by
                  the Bank of the contents, in whole or in part, of my Consumer Credit Information , whether authorized
                  or not; (c) any breach of confidentiality or privacy in relation to delivery of my Consumer Credit
                  Information to the Bank; (d) for any use made by the Bank which is contrary to the Agreement entered
                  into between the Bank and TUCL or such other authorized agencies.
                </li>
                <li>
                  I acknowledge and accept that: (a) TUCL or such other authorized agencies has not made any promises or
                  representations to me in order to induce me to provide my Consumer Credit Information or seek any
                  consent or authorization in this regard; and (b) the implementation of the Agreement between TUCL or
                  such other authorized agencies and the Bank is solely the responsibility of the Bank.
                </li>
                <li>
                  I agree that I may be required to record my consent / provide instructions electronically and in all
                  such cases I understand that by clicking on the "I Accept" button below, I am providing "written
                  instructions" to the BANK authorizing the BANK to obtain my Consumer Credit Information from my
                  personal credit profile from TransUnion CIBIL LIMITED, [formerly known as Credit Information Bureau
                  (India) Limited] or such other authorized agencies. I further authorize the BANK to obtain such
                  information solely to confirm my identity. Further in all such cases "By checking this box and
                  clicking on the ‘Authorize button, I agree to the terms and conditions, acknowledge receipt of TUCL's
                  or such other authorized agencies' privacy policy and agree to its terms, and confirm my authorization
                  for the BANK to obtain my Consumer Credit Information.
                </li>
                <li>
                  I understand that in order to deliver the product to me, I hereby authorize the BANK, to obtain my
                  Consumer Credit Information from TUCL or such other authorized agencies.
                </li>
                <li>
                  By submitting this registration form, I understand that I am providing express written instructions
                  for the BANK to request and receive information about me from third parties, including but not limited
                  to a copy of my consumer credit report and score from consumer reporting agencies, at any time for so
                  long as I have an active BANK account. I further authorize the BANK to retain a copy of my information
                  for use in accordance with BANK'S Terms of Use and Privacy Policy.
                </li>
                <li>
                  I UNDERSTAND THAT THE PRODUCT IS PROVIDED ON AN "AS-IS", "AS AVAILABLE" BASIS AND TUCL OR SUCH OTHER
                  AUTHORISED AGENCIES EXPRESSLY DISCLAIMS ALL WARRANTIES, INCLUDING THE WARRANTIES OF MERCHANTABILITY,
                  FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.
                </li>
                <li>
                  I shall not sue or otherwise make or present any demand or claim, and I irrevocably, unconditionally
                  and entirely release, waive and forever discharge TUCL or such other authorized agencies , its
                  officers, directors, employees, agents, licensees, affiliates, successors and assigns, jointly and
                  individually (hereinafter "Releasee"), from any and all manner of liabilities, claims, demands,
                  losses, claims, suits, costs and expenses (including court costs and reasonable attorney fees)
                  ("Losses"), whatsoever, in law or equity, whether known or unknown, which I ever had, now have, or in
                  the future may have against the Releasee with respect to the submission of my Consumer Credit
                  Information and / or my decision to provide TUCL or such other authorized agencies with the authority
                  to deliver my Consumer Credit Information to the Bank . I agree to defend, indemnify, and hold
                  harmless the Releasee from and against any and all Losses resulting from claims made against TUCL or
                  such other authorized agencies by third parties arising from and in connection with this letter.
                </li>
                <li>
                  I agree that the terms of this confirmation letter shall be governed by the laws of India and shall be
                  subject to the exclusive jurisdiction of the courts located in Mumbai in regard to any dispute arising
                  hereof. TUCL or such other authorized agencies is entitled to assign its rights hereunder to any third
                  person without taking my prior written consent.
                </li>
              </ol>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
