.health-details-page {
  .health-details-info {
    margin-top: 136px;
    @media (max-width: 767px) {
      margin-top: 0;
    }
    h2{
      @media (max-width: 576px) {
        top: -10%;
        left: 33%;
      }
    }
    .health-details-card {
      padding: 20px 40px;
      box-shadow: none !important;
      @media (max-width: 767px) {
        padding: 20px 12px;
      }

      .health-card-content {
        .mat-form-field-appearance-legacy {
          .mat-form-field-infix {
            padding: 15px 90px 15px 0 !important;
          }

          .mat-form-field-wrapper {
            margin: 0 20px 0 10px;
          }

          .mat-form-field-label {
            font-size: 20px;
          }
        }

        .check-box-field {
          margin-top: 0 !important;

          .mat-checkbox-inner-container {
            margin-right: 20px;
          }
        }
      }
    }

    .proceed-button {
      text-align: center;
      margin: 30px 0 60px 0 !important;
    }
  }
}
