<div class="basic-details-tnc-page">
  <!-- <div class="mobile-step-wizard">
    <app-step-wizard></app-step-wizard>
  </div> -->
  <div class="container">
    <div class="row">
      <div class="col-md-3 p-0">
        <div class="sidebar-images">
          <img src="assets/images/Oval-orange.svg" alt="" class="orange-oval tnc-orange-oval">
          <img src="assets/images/tnc-img.svg" class="vector-img1" alt="">
          <img src="assets/images/Oval-blue.svg" alt="" class="blue-vector-oval">
        </div>
      </div>
      <div class="col-md-9">
        <div class="basic-details-tnc-data">
          <mat-card class="basic-details-tnc-card">
            <mat-card-content class="basic-details-tnc-card-content">
              <h2 class="privacy-heading">Authorization cum Disclaimers</h2>
              <h5>
                This disclaimer shall govern your use of our website ( <a
                  href="www.dil.bankofbaroda.co.in">www.dil.bankofbaroda.co.in</a> ).
              </h5>
              <h5>
                By using our website, you authorize us to obtain and analyse data related to your business and you
                confirm and accept the terms of the following disclaimer.
              </h5>

              <h4>AUTHORIZATION</h4>
              <p>www.dil.bankofbaroda.co.in (here in after referred as the platform) acts as a facilitator between you
                and fund provider for products being offered by the concerned fund provider. By signing up to the
                website or submitting this application electronically, you authorize us to engage different third-party
                agencies as may deem fit to us and obtain and analyse data including but not limited to Credit Bureau,
                GST returns, Income Tax Returns, Bank Statements, data from MCA, credit guarantee, fraud check etc. ,
                and for the said purpose you may be directed to various websites of third parties for verification etc.
                , to upload/share and proper presentation of the your data with an aim to assist you in submitting its
                corporate/MSME/Retail Products proposal to the Fund Provider in the manner as maybe required by the Fund
                Provider in its format and such other services as maybe indicated by the platform from time to time.
              </p>
              <p>By applying on www.dil.bankofbaroda.co.in you authorize us as well as fund providers and its
                representatives to call or SMS or email you with reference to the application submitted. This consent
                shall override any registration for DNC / NDNC.</p>

              <h4>DISCLAIMERS</h4>
              <ul>
                <li>
                  The application shall be processed based on documents provided by you to us, as well as on
                  data/information filled in on our website and in the Due Diligence Report (DDR). It is your
                  responsibility to provide true and correct information, authenticated documents and to verify
                  information filled on the website & in the DDR before submitting or uploading the same. We shall not
                  be held responsible for authenticity or genuineness of any documents uploaded, information
                  provided/submitted by you. We shall operate on a best effort basis to ensure that you are able to
                  procure the requisite financing/ Loan as per your requirement by sharing your details with us and for
                  the same purpose, we may also use third party services. "Sanction and Disbursal of each
                  product/proposal" by us shall be at our sole discretion and shall also be subject to correct
                  submission of required data, documents, information etc. by you and/or various data retrieved such as
                  Credit Bureau Report, GST returns, Income Tax Returns, Bank Statement, data from MCA, credit
                  guarantee, fraud check etc. from various websites governing the same.
                </li>
                <li>
                  The Bank shall not be liable for any unauthorized email sent to a User's email ID through BOB Apply
                  Online service, which can be attributed to fraudulent or negligent conduct of the User.
                </li>
                <li>
                  The Bank shall not be liable to the applicant(s) for any damages whatsoever whether such damages are
                  direct, indirect, incidental, consequential and irrespective of whether any claim is based on
                  investment or any other loss of any character or nature whatsoever and whether sustained by the
                  user(s) or any other person, if BOB Apply Online access is not available in the desired manner for
                  reasons including but not limited to natural calamity, fire and other natural disasters, legal
                  restraints, faults in the telecommunication network or Internet or network failure, software or
                  hardware error or any other reasons beyond the control of the Bank.
                </li>
                <li>
                  The Bank shall endeavour to take all possible steps to maintain secrecy and confidentiality of
                  information provided by Users but shall not be liable to the Users for any damages whatsoever caused
                  on account of breach of secrecy/confidentiality due to reasons beyond the control of the Bank.
                </li>
                <li>
                  The Bank, for valid reasons, may refuse to execute any application/instruction submitted by the User.
                </li>
                <li>
                  The quote/ in principle approval is tentative, and the Bank assumes no liability for such quote, which
                  is based on the inputs provided by the User. Further, loan eligibility may vary depending upon changes
                  in interest rate, margin, processing fee and/or terms and conditions of the respective loan scheme.
                </li>
                <li>
                  Final sanction of the loan application will depend on satisfactory KYC, Income, credit worthiness and
                  documents verification. The applicant will also have to provide Collateral Security and Third-Party
                  Guarantee for sufficient value, wherever applicable.
                </li>
                <li>
                  "Upload Document" functionality is provided for expediting the loan process. The Bank may ask for
                  original and/or photocopy of such document for verification and/or at the time of processing of loan
                  application. Bank will not use such document for any other purpose like updating KYC details, etc.
                </li>
                <li>
                  The Bank will in no way be held responsible for or liable for delay, failure and/or untimely delivery
                  of SMS password and/or SMS Alerts due to but not limited to network congestions, network failure,
                  systems failure or any others reasons beyond the reasonable control of the Bank or its service
                  provider(s).
                </li>
                <li>
                  The Bank has the absolute discretion to amend or supplement any of the Terms of Service (Terms &
                  Conditions) at any time, without prior notice. However, the Bank will endeavour to notify any such
                  change by posting it on the website or through advertisement or any other means as the Bank may deem
                  fit which shall be binding on the User. The existence and availability of the new
                  functionality/ies/facilities/features will be notified to the User as and when they are made
                  available. By using these new services, the User agrees to be bound by the Terms of Service (Terms &
                  Conditions) applicable, therefore.
                </li>
                <li>
                  The grant of facility of Online application through "Apply Now" Services to an Applicant is
                  non-transferable under any circumstances and application shall be used by the Applicant only.
                </li>
              </ul>

              <h4>LIABILITY OF THE USER</h4>
              <p>
                <i class="text-center">
                  The User shall be liable for Non-compliance of Terms of Service (Terms & Conditions) mentioned herein
                  and separately.
                </i>
              </p>

              <ul>
                <li>
                  If he/she has breached the Terms of Service (Terms & Conditions) or contributed or caused any loss by
                  his/her negligent actions.
                </li>
                <li>
                  The User agrees that the Bank or its service providers may hold and process his/her Personal/Technical
                  Information on Computer or otherwise in connection with BOB Online "Apply Now" services as well as for
                  statistical analysis.
                </li>
                <li>
                  The User agrees that the Bank may collect User system related information. The User also agrees that
                  the Bank may disclose, in strict confidence, to other institutions, such Personal Information as may
                  be reasonably necessary for reasons inclusive of, but not limited to, the following:

                  <ul type="disc">
                    <li>
                      In compliance with legal, regulatory and/or Reserve Bank of India's directives.
                    </li>
                    <li>
                      For fraud prevention purposes.
                    </li>
                  </ul>
                </li>
                <li>
                  BOB shall not be liable to you for any loss or damage including without limitation, whether indirect
                  or consequential loss or damage, or any loss or damage of whatsoever nature.
                </li>
              </ul>

              <h4>Governing Law
              </h4>

              <p>This web site including any of the transactions done through it, if any, and this disclaimer shall be
                exclusively governed by the laws of India.</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
