.simandate-details-page {
  background-color: #ffffff;
  padding: 90px 0 36px 0;

  h3 {
    color: #565656;
    font-size: 20px;
    font-weight: 400;
  }

  .simandate-details-info {
    .simandate-details-card {
      padding: 36px 80px 36px 160px;
      margin-top: 16px;
      margin-bottom: 36px;
      box-shadow: 0 0 8px 0 rgba(178, 178, 178, 0.4);

      .simandate-details-card-content {
        .simandate-info {
          margin-bottom: 36px;

          p {
            color: #aaaaaa;
            font-size: 15px;
            font-family: 'HelveticaNeue';
            font-weight: 500;
            letter-spacing: 0.2px;
            margin-bottom: 6px;
          }

          h4 {
            color: #565656;
            font-size: 15px;
            font-family: 'HelveticaNeue';
            margin: 0;
            font-weight: 500;
            letter-spacing: 0.2px;
          }
        }
      }
    }
  }

  .simandate-details-btns {
    text-align: center;
    margin: 48px 0 36px 0;
  }

  .simandate-footer {
    text-align: center;
    padding: 16px;
    margin-bottom: 48px;

    p {
      color: #000000;
      margin-bottom: 2px;
      font-size: 12px;
      letter-spacing: 0.2px;
      font-weight: 500;
    }
  }
}
