<div class="money-in-account">
  <div class="mobile-step-wizard">
    <app-step-wizard></app-step-wizard>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 p-0">
        <div class="sidebar-images">
          <img src="assets/images/Oval-orange.svg" alt="" class="orange-oval">
          <img src="assets/images/money-in-account-img.svg" class="vector-img1" alt="">
          <img src="assets/images/Oval-blue.svg" alt="" class="blue-vector-oval">
        </div>
      </div>
      <div class="col-md-9">

        <mat-card class="moneyin-account-card">
          <div class="main-step-wizard">
            <app-step-wizard></app-step-wizard>
          </div>
          <mat-card-content class="moneyin-account-content">
            <div class="greeting-text">
              <h1>Thank you</h1>
              <!-- <div class="request-amount">
                <p>
                  Your request for a loan for <span>₹ 4,00,000</span> has been
                  received.
                </p>
              </div> -->
            </div>
            <div class="customer-details">
              <div [innerHTML]="tmsData">
              </div>
              <!-- <p>
                Your customer ID is <span class="customer-id">N865554</span>
              </p>
              <p>Loan account no. is <span>570901004344</span></p> -->
            </div>
            <div class="please-contact">
              <!-- <p>
                It will be disbursed in the account no. 8946480393739 within 24
                hrs.
              </p>
              <p>
                For any kind of assistance please contact our customer support.
              </p> -->
            </div>
          </mat-card-content>
        </mat-card>

        <!-- <mat-card-actions> -->
        <div class="home-button">
          <button mat-button class="primary-button" routerLink="">
            Home
          </button>
        </div>

        <!-- </mat-card-actions> -->
      </div>
    </div>
  </div>
</div>