<div class="error-page">
  <div class="mobile-step-wizard">
    <app-step-wizard></app-step-wizard>
  </div>
  <div class="container">
    <div class="row p-0">
      <div class="col-md-2 p-0">
        <div class="sidebar-images">
          <img src="assets/images/Oval-orange.svg" alt="" class="orange-oval">
          <img src="assets/images/error-img.svg" alt="" class="error-image">
          <img src="assets/images/Oval-blue.svg" alt="" class="blue-vector-oval">
        </div>
      </div>
      <div class="col-md-10">
        <div class="error-page-card">
          <div class="main-step-wizard">
            <app-step-wizard></app-step-wizard>
          </div>
          <h2 class="error-heading">Error!</h2>

          <div class="error-page-content">
            <img src="assets/images/user-error-img.svg" alt="">
            <p>Your PAN ID name and Aadhaar ID name is not matching. Please verify again.</p>
          </div>

          <div class="error-page-btns">
            <!-- <button mat-button class="secondary-button" routerLink='/user-input/customer-details'>Back</button> -->
            <button mat-button class="primary-button" routerLink='/'>Home</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
