<div class="basic-details-tnc-page">
  <div class="mobile-step-wizard">
    <app-step-wizard></app-step-wizard>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 p-0">
        <div class="sidebar-images">
          <img src="assets/images/Oval-orange.svg" alt="" class="orange-oval">
          <img src="assets/images/tnc-img.svg" class="vector-img1" alt="">
          <img src="assets/images/Oval-blue.svg" alt="" class="blue-vector-oval">
        </div>
      </div>
      <div class="col-md-9">
        <!-- <app-step-wizard></app-step-wizard> -->
        <div class="basic-details-tnc-data">
          <div class="main-step-wizard">
            <app-step-wizard></app-step-wizard>
          </div>
          <h2 class="basic-tnc-heading">Read before "signing it"</h2>

          <mat-card class="basic-details-tnc-card" id="content" #content>
            <mat-card-content class="basic-details-tnc-card-content">
              <div class="row">
                <div class="col">
                  <div class="basic-details-tnc-card-info">
                    <!-- <div [innerHTML]="tncData">
                    </div> -->
                    <div id="demo" style="height: 750px;" class="pdf-view"></div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <!-- <div class="download-button">
            <button mat-raised-button class="download-btn" (click)="downloadPDF()">
              Download PDF
            </button>
          </div> -->
          <form [formGroup]="tncForm" (ngSubmit)="onSubmit()" *ngIf="tncData">
            <mat-card class="agree-to-tnc-card">
              <mat-card-content>
                <div class="check-box-field">
                  <mat-checkbox (change)="checkBoxValid($event.checked)" formControlName="checkBox">
                    I accept and agree to the loans
                    <a routerLink="/terms-and-conditions" target="_blank">Terms & Conditions</a>
                    of above.
                  </mat-checkbox>
                </div>
                <mat-error *ngIf="validCheckBox === false">Please accept and agree to the loans terms and conditions of
                  above
                </mat-error>
              </mat-card-content>
            </mat-card>
            <div class="basic-tnc-buttons">
              <!-- <button mat-button class="secondary-button" (click)="goBack()" type="button">Back</button> -->
              <button mat-raised-button class="primary-button continue-button">
                Continue
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>