.idle-content {
  text-align: center;
  padding: 24px 48px 0;

  p {
    color: #565656;
    font-size: 16px;
    font-weight: 500;
    font-family: 'HelveticaNeue';
  }
}

.idle-btn {
  text-align: center;
  margin: 0 0 16px 0;
  justify-content: center;
}
