.result-data {
  margin: 172px auto;
  width: 60%;
  // border: 1px solid orangered;
  padding: 30px;
  border-radius: 5px;
  text-align: center;

  h4 {
    color: #565656;
    font-size: 18px;
    font-weight: 400;
    font-family: 'HelveticaNeue';
    margin-bottom: 16px;

    span {
      font-weight: 600;
    }
  }

  .note {
    margin-bottom: 72px;

    p {
      color: #565656;
      font-size: 14px;
      font-family: 'HelveticaNeue';
      font-weight: 400;
    }
  }
}
