<div class="basic-details-tnc-page">
  <!-- <div class="mobile-step-wizard">
    <app-step-wizard></app-step-wizard>
  </div> -->
  <div class="container">
    <div class="row">
      <div class="col-md-3 p-0">
        <div class="sidebar-images">
          <img src="assets/images/Oval-orange.svg" alt="" class="orange-oval tnc-orange-oval ">
          <img src="assets/images/tnc-img.svg" class="vector-img1" alt="">
          <img src="assets/images/Oval-blue.svg" alt="" class="blue-vector-oval">
        </div>
      </div>
      <div class="col-md-9">
        <div class="basic-details-tnc-data">
          <mat-card class="basic-details-tnc-card">
            <mat-card-content class="basic-details-tnc-card-content">
              <h2 class="privacy-heading">Privacy Policy</h2>
              <p>Customer's privacy is important to Bank of Baroda. This is why we are committed to the Privacy Promise
                for Consumers, which is as follows</p>

              <h4>Personal Information</h4>
              <p>Personal information is information that identifies you as an individual, such as your name, mailing
                address, email address, etc. Personal information is only obtained when you voluntarily provide the
                information to us. We use personal information to better understand your needs and interests and to
                provide you with better service.
              </p>
              <p>Once you choose to provide us with personal information, you can be assured it will be used only for
                the intent it was collected for.</p>

              <h4>Non-Personal Information</h4>
              <p>Non-Personal information is information that does not identify you as an individual, such as your
                browser type, IP Address, the URL of the previous web site you visited, etc. We may automatically
                collect certain types of non-personal information from you when visiting our site. This helps us to
                understand the usage of our site and demographics of our visitors.
              </p>
              <p>We will not reveal customer information to any external organization unless we have previously informed
                the customer in disclosures or agreements, have been authorized by the customer, or are required by law.
              </p>
              <p>Whenever we hire other organizations to provide support services, we will require them to conform to
                our privacy standards and to allow us to audit them for compliance.
              </p>
              <p>Notwithstanding above The Bank shall endeavour to take all possible steps to maintain secrecy and
                confidentiality of information provided by Users, but shall not be liable to the Users for any damages
                whatsoever caused on account of breach of secrecy/confidentiality due to reasons beyond the control of
                the Bank.
              </p>
              <p>The Bank has the absolute discretion to amend or change this privacy policy at any time, without prior
                notice. However, the Bank will endeavour to notify any such change by posting it on the website or
                through advertisement or any other means as the Bank may deem fit.
              </p>

              <h4>Law, Jurisdiction and Resolution
              </h4>

              <p>The provisions of this privacy policy shall be governed by and, constructed in accordance with the Indian
                law and the appropriate courts having jurisdiction shall deal with any issue arising out of this privacy
                policy.</p>
              <p>In case of any dispute/ grievance the user may contact us at 1800 258 44 55 /1800 102 44 55 for the
                resolution of the grievance/ concerned.</p>
              <p>We will continuously assess ourselves to ensure that customer privacy is respected.</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
