<div class="aip-loan-details-page">
  <div class="mobile-step-wizard">
    <app-step-wizard></app-step-wizard>
  </div>
  <form [formGroup]="aipForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="container-fluid">
      <!-- <app-step-wizard></app-step-wizard> -->
      <div class="row">
        <div class="col-md-3 p-0">
          <div class="sidebar-images">
            <img src="assets/images/Oval-orange.svg" alt="" class="orange-oval" />
            <img src="assets/images/loan-details-img.svg" class="vector-img" alt="" />
            <img src="assets/images/Oval-blue.svg" alt="" class="blue-vector-oval" />
          </div>
        </div>
        <div class="col-md-9">
          <mat-card class="loan-details-card">
            <div class="main-step-wizard">
              <app-step-wizard></app-step-wizard>
            </div>
            <mat-card-title>
              <h2>Hi {{name}}, let us know the requirement</h2>
            </mat-card-title>
            <mat-card-content class="loan-details-card-content">
              <div class="row space-wrapper">
                <div class="col-md-5">
                  <div class="input-field">
                    <mat-label class="input-label">Requested Amount</mat-label>
                    <mat-form-field class="loan-input loan-value" appearance="outline">
                      <input class="currency-input" matInput value="{{ rangeValue | indianCurrency }}" maxlength="9"
                        (keypress)="numberOnly($event)" (input)="Change($event.target.value)" />
                      <span matPrefix class="loan-sign">₹</span>
                    </mat-form-field>
                    <mat-error *ngIf="grossIncome && !amountError">Requested Amount is invalid</mat-error>
                    <mat-error *ngIf="amountError">Requested Amount shouldn't be empty</mat-error>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="slider">
                    <mat-slider thumbLabel [displayWith]="formatThumbLabel" input #amount
                      (input)="sliderValue(amount.value)" id="amount" [min]="min" [step]="1000" [max]="maxloan"
                      value="{{ rangeValue }} ">
                    </mat-slider>
                    <div class="range-value">
                      <span class="start-value">₹ {{min |indianCurrency }}</span>
                      <span class="end-value">₹ {{maxloan |indianCurrency }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row space-wrapper">
                <div class="col-md-5">
                  <div class="input-field">
                    <mat-label class="input-label">Loan Tenure</mat-label>
                    <mat-form-field class="loan-input" appearance="outline">
                      <input matInput value="{{ minRangeValue }} Months" (keypress)="numberOnly($event)"
                        [readonly]="true" />
                    </mat-form-field>
                  </div>
                </div>

                <div class="col-md-7">
                  <div class="slider">
                    <mat-slider thumbLabel input #time [displayWith]="formatLabel"
                      (input)="monthsliderValue(time.value)" id="time" [min]="minRangeValue" [step]="1" [max]="maxMonths"
                      value="{{ minRangeValue }} " readOnly>
                    </mat-slider>
                    <div class="range-value">
                      <span class="start-value">{{ minRangeValue }} Months</span>
                      <span class="end-value">{{ maxMonths }} Months</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="aip-loan-dropdown">
                <div class="row">
                  <div class="col-md-7">
                    <div class="select-field">
                      <mat-label class="select-label">Do you want a credit life insurance to secure you
                        loan?*</mat-label>
                      <mat-form-field appearance="outline" class="selct-info">
                        <mat-select formControlName="loanSecure" (selectionChange)="showSelectValue($event.value)">
                          <mat-option *ngFor="let obj of optionsLkp" value="{{obj.value}}">{{obj.value}}</mat-option>
                        </mat-select>
                        <button mat-icon-button class="tooltip-btn" type='button'
                          matTooltip="A personal loan is a financial commitment. In case the of unfortunate events such death or permanent disability due to accident, a loan protection insurance plan payoff your outstanding loan. Your family will not be burdened with a sudden financial obligation to repay the loan.">
                          <img src="assets/images/info.svg" alt="" class="tooltip-img">
                        </button>
                        <!-- <img src="assets/images/info.svg" alt="" (mouseover)="changeText = true"
                          (mouseout)="changeText = false"> -->
                        <mat-error *ngIf="aipForm.get('loanSecure').hasError('required')">Secure your loan
                          shouldn't be empty
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <!-- <div class="col-md-5">
                  <div class="input-field">
                    <mat-label class="input-label">Insurance Premium</mat-label>
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="&#8377; 1000" formControlName="firstName" maxlength="26" />
                    </mat-form-field>
                  </div>
                </div> -->
                </div>
              </div>
              <div class="aip-loan-data">
                <div class="row">
                  <div class="col-md-3 col-6">
                    <h6>Interest Rate</h6>
                    <span>{{interestRate}}%</span>
                  </div>
                  <div class="col-md-3 col-6">
                    <h6>Processing fee</h6>
                    <span>&#8377; {{processingFee | indianCurrency}}</span>
                  </div>
                  <div class="col-md-3 col-6">
                    <h6>Stamp duty</h6>
                    <span>&#8377; {{stampduty}}</span>
                  </div>
                  <div class="col-md-3 col-6">
                    <h6>GST</h6>
                    <span>&#8377; {{ gst | indianCurrency }}</span>
                  </div>
                  <div class="col-md-3 col-6">
                    <h6>Loan Monthly EMI</h6>
                    <span>&#8377; {{ totalEmi | indianCurrency }}</span>
                  </div>
                  <div class="col-md-3 col-6">
                    <h6>Net Loan Amount</h6>
                    <span>&#8377; {{ aipDetails?.netLoanAmount | indianCurrency }}</span>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <div class="loan-details-footer">
            <div class="loan-details-btns">
              <button mat-button class="primary-button" type="submit">Proceed</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>