<div class="basic-details-tnc-page">
  <!-- <div class="mobile-step-wizard">
    <app-step-wizard></app-step-wizard>
  </div> -->
  <div class="container">
    <div class="row">
      <div class="col-md-3 p-0">
        <div class="sidebar-images">
          <img src="assets/images/Oval-orange.svg" alt="" class="orange-oval tnc-orange-oval ">
          <img src="assets/images/tnc-img.svg" class="vector-img1" alt="">
          <img src="assets/images/Oval-blue.svg" alt="" class="blue-vector-oval tnc-blue-oval">
        </div>
      </div>
      <div class="col-md-9">
        <div class="basic-details-tnc-data">
          <mat-card class="basic-details-tnc-card">
            <mat-card-content class="basic-details-tnc-card-content">
              <h2 class="privacy-heading">Terms and Conditions</h2>
              <ol type="1">
                <li>
                  By checking the 'Proceed' button below or the 'Submit OTP' button after entering the one-time
                  password ("OTP") sent by Bank of Baroda, I hereby agree and acknowledge that I
                  <ol type="a">
                    <li>
                      Am 18 years of age,
                    </li>
                    <li>
                      Can understand, read and write in the English language,
                    </li>
                    <li>
                      Have read and understood the terms and conditions contained below ("Terms").
                    </li>
                  </ol>
                </li>
                <li>
                  I agree that my action of entering the OTP sent by BoB and clicking the "Submit" button, constitutes a
                  valid acceptance by me of the Terms contained herein and creates a binding and enforceable agreement
                  between me and BoB.
                </li>
                <li>
                  I agree that my action of entering the OTP sent by BoB and clicking the "Submit" button, constitutes a
                  valid acceptance by me of the Terms contained herein and creates a binding and enforceable agreement
                  between me and BoB.
                </li>
                <li>
                  I confirm that I have/had no insolvency proceedings against me nor have I ever been adjudicated
                  insolvent by any court or other authority and I further confirm that I have read the information on
                  various loan products made available by BoB on <a
                    href="https://www.bankofbaroda.in/">https://www.bankofbaroda.in/</a>
                </li>
                <li>
                  I authorise BoB to exchange, share all information and details as provided by me and in relation to my
                  existing loans and/or repayment history to any third party including but not limited to its group
                  companies, service providers, banks, financial institutions, credit bureaus, telecommunication
                  companies, statutory bodies, business partners etc. for customer verification, personalization of
                  products or services, credit rating, data enrichment, marketing or promotion of BoB services or
                  related products or that of its associates/business partners and affiliates or for enforcement of your
                  obligations and I shall not hold BoB (or any of its group companies or its/their
                  agents/representatives/ business partners) liable for the use/sharing of the information as stated
                  above.
                </li>
                <li>
                  I agree and affirm that BoB may contact me and communicate with me over telephonic calls, or SMS on
                  the mobile number mentioned herein, or through any other communication mode ("Communication Modes") to
                  verify the details provided by me. Further, I confirm that I would like to know through the above
                  mentioned Communication Modes various BoB loan offer schemes or loan promotional schemes or any other
                  promotional schemes relating to various products/services offered by BoB/its group companies/business
                  partners from time to time and hereby authorise BoB, its group companies, employees, agents,
                  associates, business partners to contact me from time to time for the same.
                </li>
                <li>
                  I hereby expressly consent and authorise BoB/ its representatives/agents/ its business partners/its
                  group companies/affiliates to send me any communication regarding products/services offered by them
                  using various communication channels, such as, telephone, calls/SMS/bitly/bots/emails/post etc.
                </li>
                <li>
                  I undertake to keep BoB updated of any change in the information provided by me.
                </li>
                <li>
                  I understand and acknowledge that Bank of Baroda shall have the absolute discretion, without assigning
                  any reason to reject my loan application and that Bank of Baroda shall not be responsible/liable in
                  any manner whatsoever for such rejection.
                </li>
                <li>
                  I further understand and agree that pursuant to this application form, I will be required to submit
                  documents to the satisfaction of Bank of Baroda and accept the loan terms and conditions for availing
                  the loan granted to me by Bank of Baroda from time to time.
                </li>
                <li>
                  I hereby expressly consent and authorise Bank of Baroda/ its representatives/ agents/ its business
                  partners/ its group companies/ affiliates to initiate CIBIL, PAN and employment check to evaluate and
                  process my loan application.
                </li>
              </ol>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
